// These are specific styles for the PDT site.


// Make the sidebar a bit wider (to fit the title, and longer page names)
//$nav-width: 300px;
//$nav-width-md: 316x;



// Hide the just-the-doc footer
.site-footer {
    visibility: hidden
  }


// Justify body text. Don't do it for headers, it hakes
// them ugly when they wrap on mobile screens
body {
    text-align: justify;
}
h1, h2, h3, h4, h5, h6, .nav-list-link, .text-mono, table{
    text-align: left;
}

// The page abstract style
.pdt-abstract-title {
  @extend .fs-9;
}
.pdt-abstract-body {
  @extend .fs-6, .fw-300;
}


// Style for standard buttons
.pdt-btn {
  @extend .fs-5, .btn;
}


// Make the hyperlink underline stronger:
a:not([class]) {
  text-decoration-color: #bfc7cf !important;
//  background-image: linear-gradient(#eeebee 0%, #808080 100%) !important;
}

// The default style does not add a margin at the bottom of a
// nested list, so add it here:
.main-content ul {
  margin-bottom: 1em;
}

// Tweak the headers:
h2 {
  font-weight: 400 !important
}
h3 {
  font-weight: 400 !important;
  font-style: italic;
}


// Colors
$body-background-color: $white;
$sidebar-color: $grey-lt-000;
$search-background-color: $white;
$code-background-color: $grey-lt-000;
$feedback-color: darken($sidebar-color, 3%);

$body-text-color: $grey-dk-100;
$body-heading-color:  $grey-dk-300;
$search-result-preview-color: $grey-dk-000;
$nav-child-link-color: $grey-dk-100;
$link-color: #274980;
$btn-primary-color: $purple-100;
$base-button-color: #ebeef2; //#f7f7f7;




/* Style for Image Lightbox popup. */


.pdtImg {
  cursor: pointer;
  transition: 0.1s;
}
.pdtImg:hover {opacity: 1;}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  padding-top: 20px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(240, 240, 240); /* Fallback color */
  background-color: rgba(240, 240, 240, 0.97); /* w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  //width: 95%;
  max-width: 1400px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 95%;
  max-width: 1400px;
  text-align: center;
  color: rgb(5, 5, 5);
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.1s;
  animation-name: zoom;
  animation-duration: 0.1s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: rgb(5, 5, 5);
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  text-shadow: 0px 0px 20px white, 0px 0px 5px white, 0px 0px 10px white;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}