<!---
    This include defines the custom header, which specifies the current version.
-->
<nav aria-label="Auxiliary" class="aux-nav">
    <ul class="aux-nav-list">

        <li class="aux-nav-list-item">
            <a href="{{ site.baseurl_static }}/docs/doc-versions.html" class="site-button fs-4"
                title="Click for other PhysioData Toolbox versions.">
                Version {{ site.pdt_version }}.
            </a>
        </li>

    </ul>
</nav>




<!-- The modal div (for popups)  
        https://www.w3schools.com/howto/howto_css_modal_images.asp
-->
<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
</div>

<script>

    // Close the modal window when users click it's background:
    var modal = document.getElementById("myModal");
    modal.onclick = function () {
        modal.style.display = "none";
    }

    {% if false %}
    // Go to image src when users click it:
    var modalImg = document.getElementById("img01");
    modalImg.onclick = function () {
        location.href = this.src;
    }
    {% endif %}

</script>