<!---
    Video include for nice videos in the PDT Doc.
-->


<!-- The video path:
-->
{% capture vid_path %}
{{ site.url }}/{{ site.baseurl }}/assets/images/{{ include.vid }}
{% endcapture %}

<!-- The image number counter:
-->
{% unless video_counter %}
{% assign video_counter = 1 %}
<!-- First run.
-->
{% else %}
{% assign video_counter = video_counter | plus: 1 %}
{% endunless %}

<!-- Determine the ID: 
-->
{% if include.id %}
{% capture cur_id %}{{ include.id }}{% endcapture %}
{% else %}
{% capture cur_id %}VIDEO{{ video_counter }}{% endcapture %}
{% endif %}

<div style="
    padding: 0px;
    padding-left: 26px;
    padding-right: 26px;
    margin: auto; 
    margin-bottom: 24px;
    margin-top: 38px;
    display: table;">

    <div style="-webkit-filter: drop-shadow(1px 1px 3px #222); filter: drop-shadow(1px 1px 3px #222);">
        <video width="100%" controls loop=true>
            <source src="{{ vid_path }} " type="video/webm">
            Your browser does not support the video tag.
        </video>
    </div>

    <p class="fs-3" style="
    line-height: 1.5;
        padding: 0px;
        text-align: justify;
        caption-side: bottom;">
        <a href="#{{ cur_id }}">Video {{ video_counter }}</a>: {{ include.caption }}
    </p>
</div>